.titleSectionText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
    padding: 30px 10%;
    text-align: center;
    margin: 4rem 0 4rem 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.073);
}
.titleSectionText img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.073);
}
.titleSectionText h2{
    color: var(--color1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 30px;
}
.titleSectionText h3{
    color: var(--color1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
}
.titleSectionText span{
    color: var(--text-color2);
    font-weight: 400;
    width: 70%;
}

.titleSectionText a{
    color: var(--blanco);
    font-weight: 500;
    background-color: var(--color1);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
}

@media (max-width: 900px) {
    .titleSectionText img{
        width: 50px;
        height: 50px;
    }
    .titleSectionText h2{
        font-size: 20px;
    }
    .titleSectionText h3{
        font-size: 17px;
    }
    .titleSectionText{
        padding: 30px 6%;
    }
    .titleSectionText span{
      
        width: 100%;
    }

}