.sectionGrid{
    display: flex;
    padding: 30px 10%;
    gap: 2rem;
    justify-content: space-between;
}

.linksPages{
    display: flex;
    gap: 1rem;

    padding: 10px;
}
.linksPages a{
    background-color: var(--gris);
    border-radius: 10px;
    padding: 10px;
    color: var(--color1);
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}
.activeAnchor{
    background-color: var(--color1)!important;
    color: var(--blanco)!important;
}

@media (max-width: 1000px){
    .linksPages{
       padding: 0;
        margin-bottom: 1rem;
        width: 100%;
    }
    .linksPages a{
       font-size: 13px;
    }
    .sectionGrid{
       flex-direction: column;
       padding: 10px 0%;
       margin-top: -3rem;
    }
 
}