
.bgPageSection{
    background-image: url(../../images/mamisbg.png);
    height: 50vh;
    margin: 0px 10%;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
   
}

.bgHeader {
    display: none;
}
@media (max-width: 1000px){
   
    .bgPageSection{
      
        height: 40vh;
        margin: 0;
        padding: 0;
        background-attachment: local;

    }
    .bgHeader{
        position: fixed;
        background-color: var(--color1);
        width: 100%;
        z-index: 20000000000000;
        top: 0;
        padding: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.33);
    }
    .bgHeader .back{
        background-color: var(--color1);
        color: var(--blanco);
    }
    .bgHeader h5{
        color: var(--blanco);
        font-weight: 500;
        text-transform: capitalize;
    }
}